<table class="smalllist"><tbody>
<% @owners.each do |owner| %>
	<tr>
		<td><strong><%= link_to owner.name, owner %></strong></td>
	  <td style="width: 25px;"><%= link_to image_tag('icons/vcard.png', :alt => t('common.view'), :title => t('common.view')), owner %></td>
	  <td style="width: 25px;"><%= link_to image_tag('icons/vcard_edit.png', :alt => t('common.edit'), :title => t('common.edit')), edit_owner_path(owner) %></td>
	  <td style="width: 25px;"><%= link_to image_tag('icons/vcard_delete.png', :alt => t('common.delete'), :title => t('common.delete')), owner, :confirm => t('common.erasequestion'), :method => :delete %></td>
	</tr>
<% end %>
</tbody></table>